<div class="window">
  <h4 id="title">{{ title }}</h4>
  <div class="controls">
    <div id="btn-min" class="button" (click)="onMin()">-</div>
    <div id="btn-max" class="button" (click)="onMax()">+</div>
    <div id="btn-close" class="button" (click)="onClose()">x</div>
  </div>
</div>
<div class="main-view">
  <router-outlet></router-outlet>
</div>
