/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #ffffff;
}

app-root{
  display: block;
  overflow: hidden;
  height: 100vh;
}

body app-root .window {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

body app-root .main-view {
  display: block;
  width: calc(100vw - 2px);
  max-width: calc(100vw - 2px);
  height: calc(100vh - 30px);
  max-height: calc(100vh - 30px);
  overflow: auto;
}

body app-root .window #title {
  display: inline-block;
  margin: 0;
  padding: 6px 0px 6px 10px;
}

body app-root .window .controls {
  display: inline-block;
  float: right;
}
body app-root .window .controls .button {
  cursor: default;
  display: inline-block;
  padding: 5px;
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-app-region: no-drag;
}
body app-root .window .controls .button:hover {
  background-color: rgba(0,0,0,0.1);
}
